body {
  color: #f6f6f6;
  font-family: "Lato", sans-serif; }

.first-page {
  background-image: url("../img/firstPage/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 140px; }
  .first-page .main-navbar {
    font-family: "Gentium Book Basic", serif;
    min-height: 125px;
    background: rgba(0, 0, 0, 0.4); }
    .first-page .main-navbar .navbar-collapse {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .first-page .main-navbar .navbar-toggle {
      padding-top: 45px; }
      .first-page .main-navbar .navbar-toggle .icon-bar {
        background-color: #f6f6f6; }
    .first-page .main-navbar .navbar .navbar-nav {
      padding-top: 45px;
      font-size: 18px; }
    .first-page .main-navbar .dropdown {
      list-style-type: none; }
      .first-page .main-navbar .dropdown .dropdown-toggle {
        color: #f6f6f6;
        background: none; }
      .first-page .main-navbar .dropdown .dropdown-menu {
        text-align: center;
        min-width: 85px;
        background: rgba(0, 0, 0, 0.2); }
        .first-page .main-navbar .dropdown .dropdown-menu li > a:hover {
          background: rgba(170, 170, 170, 0.4); }
    .first-page .main-navbar .navbar .navbar-nav > li > a {
      color: #f6f6f6; }
    .first-page .main-navbar .navbar .navbar-nav > li > a:hover {
      background: rgba(170, 170, 170, 0.4); }
    .first-page .main-navbar .navbar .navbar-nav > li > a:focus {
      background: rgba(170, 170, 170, 0.6); }
  .first-page .jumbotron {
    background: none;
    margin-top: 70px;
    text-align: center; }
    .first-page .jumbotron h1 {
      font-family: "Yeseva One", cursive;
      font-size: 80px;
      line-height: 130%; }
    @media screen and (max-width: 768px) {
      .first-page .jumbotron h1 {
        font-size: 40px; } }
    .first-page .jumbotron .jumbotron-divider {
      margin-top: 20px;
      margin-bottom: 30px;
      min-height: 45px;
      background-image: url("../img/firstPage/divider.png");
      background-repeat: no-repeat;
      background-position: center; }
    .first-page .jumbotron .button {
      font-family: "Lato", sans-serif;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 30px;
      cursor: pointer;
      width: 225px;
      height: 55px; }
      .first-page .jumbotron .button a {
        color: #f6f6f6;
        text-transform: uppercase;
        text-decoration: none; }
    .first-page .jumbotron .button:focus {
      outline: none; }
    .first-page .jumbotron .button-menu:hover {
      background: rgba(170, 170, 170, 0.9); }
    .first-page .jumbotron .button-book:hover {
      background: rgba(0, 0, 0, 0.9); }
    .first-page .jumbotron .button-book {
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.7); }
    .first-page .jumbotron .button-menu {
      border: 1px solid white;
      background: rgba(170, 170, 170, 0.7); }

.second-page {
  background-image: url("../img/secondPage/bg.jpg");
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover; }
  .second-page .container {
    padding-top: 40px;
    padding-bottom: 85px; }
  .second-page .second-page-food {
    text-align: center; }
    .second-page .second-page-food h1 {
      font-family: "Yeseva One", cursive;
      color: #cc9900;
      margin-top: 110px;
      font-size: 36px; }
    .second-page .second-page-food .second-page-divider {
      margin-top: 15px;
      margin-bottom: 32px; }
    .second-page .second-page-food p {
      color: #4c4c4c;
      font-size: 16px; }
    .second-page .second-page-food .second-page-cook {
      margin-top: 53px;
      padding-left: 75px; }
  .second-page .dish-img {
    padding-top: 40px;
    max-width: 100%; }

.third-page {
  background-image: url("../img/thirdPage/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .third-page .third-page-ingredients {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 100px;
    margin-bottom: 100px; }
    .third-page .third-page-ingredients h1 {
      font-family: "Yeseva One", cursive;
      padding-top: 80px; }
    .third-page .third-page-ingredients .third-page-divider {
      margin-top: 15px;
      margin-bottom: 30px; }
    .third-page .third-page-ingredients p {
      font-size: 16px;
      padding: 0 80px;
      margin-bottom: 75px; }
    .third-page .third-page-ingredients .img-ingredients {
      margin: 0 15px;
      margin-bottom: 75px; }

.fourth-page {
  background-image: url("../img/fourthPage/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  color: #cc9900; }
  .fourth-page .container {
    padding: 100px 0; }
  .fourth-page h2 {
    font-family: "Yeseva One", cursive;
    font-size: 36px;
    text-align: center; }
  .fourth-page h3 {
    font-size: 21px; }
  .fourth-page img {
    display: block;
    margin: 0 auto; }
  .fourth-page .price {
    float: right; }
  .fourth-page hr {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: white;
    color: white;
    border: 0 none;
    -webkit-box-shadow: inset 0 12px 12px -12px rgba(204, 153, 0, 0.9);
            box-shadow: inset 0 12px 12px -12px rgba(204, 153, 0, 0.9); }
  .fourth-page p {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #4c4c4c;
    margin-bottom: 40px; }
  .fourth-page .special-word-wrapper {
    text-align: right; }
  .fourth-page .special-word {
    background-image: url("../img/fourthPage/bgSpecial.jpg");
    padding: 3px 3px 0 3px;
    color: #f6f6f6; }
  .fourth-page .special-box {
    padding: 0 2px;
    -webkit-box-shadow: -0px 0px 3px 1px #cc9900;
    box-shadow: -0px 0px 3px 1px #cc9900; }
    .fourth-page .special-box h3 {
      margin-top: 0px; }

.fifth-page {
  background-image: url("../img/fifthPage/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #f6f6f6; }
  .fifth-page article {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 85px;
    margin-top: 100px;
    margin-bottom: 100px; }
    .fifth-page article h2 {
      font-size: 36px; }
    .fifth-page article img {
      margin: 25px 0; }
    .fifth-page article .quote {
      font-family: Georgia; }
    .fifth-page article .quote-phrase {
      padding-bottom: 45px;
      font-family: "Gentium Book Basic", serif;
      font-size: 25px;
      padding: 0 70px; }
    .fifth-page article .food-inc {
      margin-top: 45px;
      padding-bottom: 100px; }

.sixth-page {
  background-image: url("../img/sixthPage/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeate;
  color: #4c4c4c; }
  @media screen and (max-width: 1199px) {
    .sixth-page .sixth-page-img {
      display: none; } }
  .sixth-page .container {
    padding-top: 100px;
    padding-bottom: 100px; }
  .sixth-page .divider {
    margin-top: 15px;
    margin-bottom: 25px; }
  .sixth-page .no-padding {
    padding: 0; }
  .sixth-page .right-food {
    max-width: 600px;
    margin: 0px auto;
    padding-top: 0;
    text-align: center; }
    .sixth-page .right-food h2 {
      margin-top: 0;
      color: #cc9900;
      font-family: "Yeseva One", cursive; }
  .sixth-page form {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 0;
    color: #cc9900; }
    .sixth-page form input::-webkit-input-placeholder {
      color: #7c7c7c;
      padding-left: 8px; }
    .sixth-page form input::-moz-placeholder {
      color: #7c7c7c;
      padding-left: 8px; }
    .sixth-page form input:-ms-input-placeholder {
      color: #7c7c7c;
      padding-left: 8px; }
    .sixth-page form input::placeholder {
      color: #7c7c7c;
      padding-left: 8px; }
  .sixth-page .form-row {
    margin-bottom: 30px; }
  .sixth-page .order {
    margin: 0 auto;
    padding: 8px 60;
    display: block;
    margin-top: 60px;
    background-color: #c9a131;
    color: #f6f6f6;
    border: none;
    font-size: 16px; }

.seventh-page {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #191919;
  color: #fefefe;
  text-align: center; }
  .seventh-page p {
    font-size: 14px;
    font-family: "Lato", sans-serif; }
  .seventh-page h2 {
    font-size: 21px; }
  .seventh-page img {
    max-width: 100%;
    margin: 15px 0; }
